@charset "utf-8";
/* ------------------------------ */
/*PCレイアウト*/
/* ------------------------------ */
/*common*/
.pc{
  display: block!important;
}
.sp{
  display: none!important;
}
.flex{
    display: flex;
}
.w-150px {
  width: 150px !important;
}
.w-200px {
  width: 200px !important;
}
.w-300px {
  width: 300px !important;
}

.bg-lightglay{
    background-color: #DDD;
}

.comp{
    background-color: blue;
    color:#EEE;
    padding: 3px 9px;
    border-radius: 4px;
}
.work{
    background-color: green;
    color:#EEE;
    padding: 3px 9px;
    border-radius: 4px;
}
.stay{
    background-color: red;
    color:#EEE;
    padding: 3px 9px;
    border-radius: 4px;
}
/*common*/

/*main*/
/*main*/

/*index-logout*/
.bg{
    height: 85vh;
    background: url("../images/top.jpg") ;
    background-size: cover;
    background-position: center;
}

.bg-mask {
    height: 85vh;
    background: rgba(255,255,255,0.4);
}

.top h1{
    font-size: 4rem;
}

.top p{
    font-size: 1.25rem;
}
/*index-logout*/

/*index-login*/
/*index-login*/

/*footer*/
footer {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
}
/*footer*/

/* ------------------------------ */
/*SPレイアウト*/
/* ------------------------------ */
@media(max-width: 575px){
.pc{
display: none!important;
}

.sp{
display: block!important;
}

.top h1{
    font-size: 3rem;
}

.top p{
    font-size: 1rem;
}

}/*@media(max-width: 575px)*/